.HeaderWrap{
    background: rgba(49, 60, 78, 0.8);
    margin-bottom: 25px;
}
.content{
    width: 1140px;
    margin: 0 auto;
}
.HeaderNavListLink{
    display: flex;
    justify-content: center;
}
.HeaderNavLists{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.HeaderNavItem{
    padding: 16px;
    transition: all .3s ease-in-out;
    position: relative;

    &:hover{
        color: #FFB033;
        transition: all .3s ease-in-out;
    }
}

